.wrapper {
  height: 250px;
  position: relative;
  overflow: hidden;
  .content {
    position: absolute;
    left:0;
    transition: ease 1s;
    height: 250px;
    width: 5000px;
    display: flex;
    transform: translateX(-7.5rem);
    flex-direction: row;
    .imageBox {
      height: 250px;
      width: 7.5rem;
      img{
        width: 7.5rem;
        height: 250px;
      }
    }
  }
}



