
.topbar{
  width: 1200px;
  height: 64px;
  display: flex;
  line-height: 64px;
  color: #ffffff;
  justify-content: space-between;
  .address{
    padding: 0px 20px;
  }
  //.right{
  //  display: flex;
  //  .about-me{
  //    .my-list{
  //      position: absolute;
  //      display: none;
  //    }
  //  }
  //  .about-me:hover .my-list{
  //    display: block;
  //    top: 50px;
  //    width: 100px;
  //  }
  //}
}
