.list-page {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  .list-item {
    margin-bottom: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .item-img{
      width: 250px;
      height: auto;
    }
    .price{
      width: 100%;
      padding: 5px 10px;
      color: #f10000;
      font:16px/20px;
      text-align: left;
    }
    .info {
      padding: 5px 10px;
      font-size: 14px;
      line-height: 18px;
      color: #333333;
    }
  }
}